Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is information that is set up for easy access, management and updating.

Computer databases typically store aggregations of data records or files that contain information,

such as sales transactions, customer data, financials and product information.

Databases are used for storing, maintaining and accessing any sort of data.

They collect information on people, places or things. That information is gathered in one place

so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

SQL:
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)

These databases have fixed or static or predefined schema 

These databases are not suited for hierarchical data storage

These databases are best suited for complex queries,
Vertically Scalable

Follows ACID property

NoSQL:
Non-relational or distributed database system.

They have dynamic schema

These databases are best suited for hierarchical data storage.

These databases are not so good for complex queries

horizontally scalable

Follows CAP(consistency, availability, partition tolerance)

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects.
These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.
Creating a schema.

DDL Commands :
In this section, We will cover the following DDL commands as follows.

Create
Alter 
truncate
drop
Let’s discuss it one by one.


#Command-1 :

CREATE :
    
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

Example –

We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

#Command-2 :
    
ALTER :
    
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –

Syntax to add a column to an existing table.

ALTER TABLE table_name

ADD column_name datatype;

Example –

In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info

ADD CGPA number;

#Command-3 :
    
TRUNCATE :
    
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –

Syntax to remove an existing table.

TRUNCATE TABLE table_name;

Example –

The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

#Command-4 :

DROP :
    
This command is used to remove an existing table along with its structure from the Database.

Syntax –

Syntax to drop an existing table.

DROP TABLE table_name;

Example –

If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. 
Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, 

but a time comes when we actually want to execute some fairly complicated data interactions.

We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely

what we want it to do by conversing in a manner that it has been built to comprehend from the scratch.

When it comes to interacting within existing data, whether adding, moving, or deleting data, 

it provides a convenient way to do so

Data Manipulation Language (DML) commands are as follows:


INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
Syntax :

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)

VALUES ('value1', 'value2'); 
Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 
UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
Syntax :

UPDATE <table_name>

SET <column_name = value>

WHERE condition; 
Example :

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini'; 
DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
Syntax :

DELETE FROM <table_name>

WHERE <condition>; 
Example :

DELETE FROM students

WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects.
The purpose of the DQL Command is to get some schema relation based on the query passed to it.
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and 
imposing order upon it. It includes the SELECT statement. 
This command allows getting the data out of the database to perform operations with it.
When a SELECT is fired against a table or tables the result is compiled into a further temporary table, 
which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

SELECT: It is used to retrieve data from the database.
    
SELECT Command –
This command is used to get data out of the database. It helps users of the database to access from an operating system, the significant data they need. It sends a track result set from one tables or more.
Syntax :

SELECT * 
FROM <table_name>; 
Example :

SELECT * 
FROM students;

OR

SELECT * 
FROM students
where due_fees <=20000;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique.
A column cannot have NULL values. 
It is either an existing table column or a column that is specifically generated by the database
according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as
the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides 
a link between data in two tables. It is a column (or columns) that references a column (most often the primary key)
of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector
cnx = mysql.connector.connect(user='??????', password='???????',
                              host='127.0.0.1',
                              database='mydb')
cursor = cnx.cursor()

query = ("SELECT * FROM student")

cursor.execute(query)
for i in cursor:
    print(i)
cursor.close()
cnx.close()

(1, 'chandan', 60, 'patna')
(2, 'mani', 40, 'delhi')

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class

execute()

This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the first clause that is processed is the FROM clause, 
while the SELECT clause, which appears first in an SQL query, is processed much later. 

The phases involved in the logical processing of an SQL query are as follows:

FROM clause

ON clause

OUTER clause

WHERE clause

GROUP BY clause

HAVING clause

SELECT clause

DISTINCT clause

ORDER BY clause

TOP clause