In [2]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
series1=pd.Series([4, 8, 15, 16, 23,42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
list1=["a",1,"3","ram","mohan",7,8,9,10,11]

In [6]:
series_list=pd.Series(list1)
print(series_list)

0        a
1        1
2        3
3      ram
4    mohan
5        7
6        8
7        9
8       10
9       11
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [8]:
#Initialize data to lists.
data = [{'Name': 'Alice', 'Age': 25, 'Gender': 'Female'},
        {'Name': 'Bob', 'Age': 30, 'Gender': "Male"},
       {'Name': 'Claire', 'Age': 27, 'Gender': 'Female'}]
  
# Creates DataFrame.
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

pandas Series is a one-dimensional labelled data structure which can hold data such as strings, integers and 
    
even other Python objects. It is built on top of numpy array and is the primary data structure to hold one-dimensional data

in pandas.

In Python, a pandas Series can be created using the constructor pandas.Series()


pandas.Series(data=None, index=None, dtype=None, name=None, copy=False)

array or dict or scalar value or iterables (default:None). It is used to populate the rows of the Series object.


A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [11]:
data = {
  "length": [420, 380, 390],
  "width": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   length  width
0     420     50
1     380     40
2     390     45

In [12]:
series1=pd.Series([4, 8, 15, 16, 23,42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There following functions used to manipulate data.
groupby,transform, aggregarate,apply, sum,mean,std many more etc

apply map group by etc

In [3]:
dat_frame=pd.DataFrame({"Text":["chandan", "white", "red", "money", "success"]})
dat_frame['Word_Count']=dat_frame['Text'].apply(lambda x: len(x))
dat_frame

      Text  Word_Count
0  chandan           7
1    white           5
2      red           3
3    money           5
4  success           7

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Mutability
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
series1=pd.Series([4, 8, 15, 16, 23,42])
series2=pd.Series(["ram", "gh", "ghj", "ui", "ty","ki"])
pd.DataFrame({ 'Author': series2, 'code': series1 })

  Author  code
0    ram     4
1     gh     8
2    ghj    15
3     ui    16
4     ty    23
5     ki    42